.cuadro1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-gap: 10px;
    background-color: rgb(27, 99, 206);
    width: 100%;
    height: 100%;
    color: rgb(253, 251, 249);
    
    
    
  }

.cuadro2{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    padding-top: 1%;
    background-color: rgb(133, 130, 121);
    width: 100%;



  }
  
.nivel-bajo {

    range: url('/rsc/icons/dificultad-baja.png');



  }

.aprendes, .necesitas, .dificultad{

    border: solid 2px;
    
    padding: 2%;
    width: 100%;
    height: 100%;
}
    


  


.arriba{
grid-column: 1 / span 4;
padding: 1%;


}

.recuadro{


    width: 300px;
    height:400px;
    background-color: rgb(55, 192, 197);
    grid-column: 4;
    position: fixed;
    right: 9.3%;
    top: 33%;
}



.profesor{
    width: 220px;
    height: 220px;
    grid-column: 4;
    grid-row: 2;
    border: solid 2px;
    background-color: rgb(40, 150, 156);;
    position: fixed;
    right: 12%;
    top: 37%;
    border-radius: 50%;
}



.titProfe{
    width: 220px;
    height: 30px;
    grid-column: 4;
    grid-row: 2;
    border: solid 2px;
    background-color: rgb(40, 150, 156);;
    position: fixed;
    right: 12%;
    top: 31%;
    
    
}

.titProfe h4{

        
        text-align: center;
}


    



.cuadro3 {
border: solid;
padding: 2%;
margin-top: 2%;
background-color:rgb(218, 211, 194);
width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
    




}


body{
   padding: 1%;
   



}

footer{
    margin-top: 20px;
    padding-top: 20px;
    background-color: olive;
    padding: 1%;

}
