.logo {
    height: 40px;
    width: auto;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 992px){
    #main-navbar {
        clear: both;
    }
  }

  .barra {
      float: right !important;
      justify-content: flex-end !important;
  }